{{ $kind := .Get "kind" | default "image" }}
{{ $path := .Get "path" | default "../media/" }}
{{ $file := .Get "file" }}
{{ $alt := .Get "alt" | default ""}}
{{ $style := .Get "style" | default "" }}

{{ $src := printf "%s%s" $path $file }}

{{ if eq $kind "image" }}
    <a href="{{ $src }}">
        <img class="media" 
            src="{{ $src }}" alt="{{ $alt }}" 
            style="{{ $style | safeCSS }}" 
            decoding="async" loading="lazy" 
        />
    </a>
{{ else if eq $kind "video" }}
    <video class="media" controls width=100% style="{{ $style | safeCSS }}">
        <source src="{{ $src }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
{{ else }}
    Unknown media kind
{{ end }}
